/* Import Montserrat Light */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1000;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 300; /* Montserrat Light weight */
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px; /* Adjust the height of the logo */
}

.hero {
    margin-top: 100px; /* Create space for the fixed header */
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 -500px; /* Crops the top of the image */
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

